{% extends "base.html" %}
{% load static %}
{% block title %}
  Product | E-Commerce Website
{% endblock title %}
{% block body %}
<div class="container my-5">
    <div class="card py-2" style="height: fit-content;">
      <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center">
        <aside class="col-sm-5 border-right">
          <article class="gallery-wrap">
            <div class="img-big-wrap">
              <div>
                <a href="#"><img src="/media/{{object.image}}" style="width:450px;"></a>
              </div>
            </div>
          </article>
        </aside>
        <aside class="col-sm-7">
          <article class="card-body p-5">
            <h3 class="title mp-3">{{object.name}}</h3>
            <p class="price-detail-wrap">
                <span class="price h3 text-warning me-3">
                  <span class="currency">BDT &#2547;</span><span class="num">{{object.price}}</span>
                </span>
                <span class="price h5 text-decoration-line-through text-secondary">
                  <span class="currency">BDT &#2547;</span><span class="num">{{object.old_price}}</span>
                </span>
            </p>
            <dl class="item-property">
              <dt>Description</dt>
              <dd>
                <p>{{object.details_text|linebreaks}}</p>
              </dd>
            </dl>
            <a href="{% url 'AppOrder:add' pk=object.pk %}" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fa fa-shopping-cart"></i> Add to Cart</a>
          </article>
        </aside>
      </div>
    </div>
  </div>
{% endblock body %}